.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 2;
    animation: move forwards;
    animation-duration: 1s;
    animation-delay: 2.5s;
    
  }

  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #344051;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    animation: preloader-bounce 1.7s infinite ease-in-out;
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
  }

  .preloader__item2 {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #ffffff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    animation: preloader-bounce 2s infinite ease-in-out;
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
  }

  .preloader__item3 {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #d17d00;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    animation: preloader-bounce 2.3s infinite ease-in-out;
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
  }
  
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(2, 2);
    }
  }

  @keyframes move{
    0% {
        opacity: 1;
      }
    70% {
        opacity: 0;
        z-index: -1;
       }
    100% {
        opacity: 0;
        z-index: -1;
      }
  }

body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051; 
    position: fixed;
    z-index: 1;
}

.logo {
    color: white;
    font-size: 24px;
    padding-left: 20%;
    padding-top: 16px;
    float: left;
    animation: camming 2s ease;
    animation-delay: 2.5s;
}

.menu {
    float: left;
    color: white;
    margin-left: 420px;
}

.menu li {
    float: left;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    animation: main_li 2.4s ease forwards;
    
    opacity: 0;
}

.menu li a {
    transition: all 2.s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited {
    color: white;
    
}

.menu li a:hover {
    color: #e98400; 
}

.menu li a:active {
    transform: scale(1.09);
}

.menu li:nth-child(2) {
    animation-delay: 1.6s;
}
.menu li:nth-child(3) {
    animation-delay: 2s;
}
.menu li:nth-child(4) {
    animation-delay: 2.4s;
}
.menu li:nth-child(5) {
    animation-delay: 2.8s;
}
.menu li:nth-child(6) {
    animation-delay: 3.2s;
}



.main {
    width: 100%;
    height: 970px;
    background: url(../img/pareny.png) 90% 100%/auto 85% no-repeat, url(../img/fon.png) center/cover no-repeat;
    box-shadow: 0px 0px 30px  #9f9f9f inset;
}

.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    animation: title_move 2s ease forwards;
    animation-delay: 3.3s;
}

.title__container h1 {
    font-size: 56px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #79818d;
}

.title__container input {
    border: 2px solid #6d7682;
    border-radius: 5px;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    margin: 50px 14px 0px 14px;
    color: #6d7682;
    font-size: 13px;
    font-weight: 600;
    background: none;
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    background-color: #344051;
    color: white;
    transform: scale(1.14);
    box-shadow: 0px 0px 10px  #000000;
    border: none;
}

.title__container input:active {
    background-color: #344051;
    color: #ffdbac;
    transform: scale(1.00);
    box-shadow: 0px 0px 10px  #000000;
    border: none;
}

@keyframes camming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes main_li {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes title_move {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 404px;
    }
}

.about_me {
    height: 720px;
    text-align: center;
    background: url(../img/foto.png) 50% 25%  no-repeat;
    background-size: 200px;
}

.about_me h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 110px;
    margin-bottom: 34px;
    font-size: 32px;
    color: #263244;
}

.p_1 {
    color: #646b77;
    text-align: center;
    font-size: 14px;
   margin-right: 596px;
    margin-left: 596px;
    margin-top: 320px;
    font-weight: 400;
    line-height: 17px;
}

.p_2 {
    color: #646b77;
    text-align: center;
    font-size: 14px;
   margin-right: 596px;
    margin-left: 596px;
    margin-top: 44px;
    font-weight: 400;
    line-height: 17px;
}

.about_me input {
    margin-top: 40px;
    padding: 10px 10px 10px 33px;
    border: 2px solid #6f707e;
    background-color: none;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
    font-weight: 600;
    background: url(../img/icon.png) 13px no-repeat;
    transition: all 0.2s;
}

.about_me input:hover {
    background-color: #344051;
    color: white;
    transform: scale(1.14);
    box-shadow: 0px 0px 10px  #000000;
    border: none;
}

.about_me input:active {
    background-color: #344051;
    color: #ffdbac;
    transform: scale(1.00);
    box-shadow: 0px 0px 10px  #000000;
    border: none;
}

.skill {
    height: 522px;
    width: 100%;
    background: url(../img/nout.png) 26% 60% no-repeat, url(../img/znak.png) 41% 60% no-repeat, url(../img/raketa.png) 58% 60% no-repeat, url(../img/grom.png) 71% 60% no-repeat, url(../img/fon2.png) no-repeat;
    padding-top: 108px;
    padding-left: 417px;
    box-shadow: 0px 0px 30px  #9f9f9f inset;
}

.skill h2 {
    padding-left: 447px;
    font-size: 32px;
    color: #263244;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}

.skill img {
    padding-left: 510px;
    padding-top: 37px;
}

.skill_ul {
    float: left;
    width: 1300px;
    padding-top: 180px;
    padding-left: 40px;
    
}

.skill_li {
   float: left; 
    font-size: 18px;
    font-weight: 600;
    width: 203px;
    color: #cf7600;
    white-space: nowrap;
    padding-right: 280px;
}

.skill_ul2 {
    float: left;
    width: 1300px;
    height: 100px;
    margin-top: 15px;
    
    
}

.skill_li2 {
    float: left;
    font-size: 13px;
    color: #3f495a;
    width: 203px;
    margin-right: 70px;
    text-align: center;
}

.skill_li3 {
    float: left;
    font-size: 13px;
    color: #3f495a;
    width: 203px;
    margin-right: 108px;
    text-align: center;
}

.skill_li4 {
    float: left;
    font-size: 13px;
    color: #3f495a;
    width: 203px;
    margin-right: 45px;
    text-align: center;
}

.skill_li5 {
    float: left;
    font-size: 13px;
    color: #3f495a;
    width: 203px;
    margin-right: 75px;
    text-align: center;
}

.keis {
    width: 100%;
    height: 880px;
    background: url(../img/fotka.png) 1% 258px no-repeat;
}

.keis h2 {
    
    text-align: center;
    padding-top: 105px;
    font-size: 32px;
    color: #263244;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}

.keis img {
    padding-top: 31px;
    padding-left: 915px;
}

.keis h5 {
    text-align: center;
    padding-top: 38px;
    color: #3f495a;
    font-weight: 600;
    
}



.keis4, .keis2 {
    display: inline-block;
    vertical-align: top;
    
}

.keis3 {
   margin-left: 392px;
    margin-bottom: 205px;
   }

.keis2 h3 {
    font-size: 24px;
    font-weight: 600;
    color: #263244;
}

.keis2 h6 {
    font-size: 13px;
    margin-top: 17px;
    color: #263244;
}

.keis2 p {
    margin-top: 17px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 17px;
    color: #263244;
}

.keis2 a {
    color: darkorange;
}

.keis2 input {
    margin-top: 17px;
    padding: 8px 20px 8px 20px;
    border-radius: 5px; 
    color: white;
    background-color: #63b5ae;
    transition: all 0.2s;
}

.keis2 input:hover {
    background-color: darkorange;
    color: white;
    transform: scale(1.14);
    font-weight: 700;
    box-shadow: 0px 0px 10px  #000000;
}

.keis2 input:active {
    background-color: #63b5ae;
    color: white;
    transform: scale(1);
    box-shadow: 0px 0px 10px  #000000;
}

.keis4 h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.keis4 {
    width: 858px;
    margin-left: 85px;
    line-height: 1.3;
    font-size: 15px;
    color: #263244;
}

.price  {
    z-index: 1;
    height: 544px;
    background: url(../img/select_bg.png) 61% 134px/600px 66px no-repeat,
                url(../img/select_bg.png) 61% 290px/600px 66px no-repeat,
                url(../img/select_bg.png) 61% 446px/600px 66px no-repeat,
                url(../img/line.png) 50% 99% no-repeat;
}           



.price h2 {
    text-align: center;
    font-size: 32px;
    color: #263244;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}


.price_h_1 {
    margin-left: 505px;
    font-size: 24px;
    margin-top: 55px;
    margin-bottom: 23px;
}

.price_h_2 {
    margin-left: 505px;
    font-size: 24px;
    margin-top: 43px;
    margin-bottom: 23px;
}

.price_h_3 {
    margin-left: 505px;
    font-size: 24px;
    margin-top: 43px;
    margin-bottom: 23px;
}

.select1 {
    margin-left: 505px;
    background-color: #eeeeee;
    color: #737373;
    padding-right: 690px;
    padding-left: 36px;
    padding-bottom: 23px;
    padding-top: 24px;
    font-size: 15px;
}

.select2 {
    margin-left: 505px;
    background-color: #eeeeee;
    color: #737373;
    padding-right: 690px;
    padding-left: 36px;
    padding-bottom: 23px;
    padding-top: 24px;
    font-size: 15px;
}

.select3 {
    margin-left: 505px;
    background-color: #eeeeee;
    color: #737373;
    padding-right: 690px;
    padding-left: 36px;
    padding-bottom: 23px;
    padding-top: 24px;
    font-size: 15px;
}



.price2 {
    margin-top: 25px;
    color: #263244;
    margin-left: 505px;
    height: 210px;
}

.price3, .price4 {
    display: inline-block;
}

.price3 {
    font-size: 18px;
    font-weight: 600;
    
}

.price4 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 778px;
}

.static {
    height: 500px;
    width: 100%;
    background: url(../img/smail.png) 26% 58% no-repeat, url(../img/skobka.png) 41% 58% no-repeat, url(../img/galka.png) 58% 58% no-repeat, url(../img/cubock.png) 74% 58% no-repeat, url(../img/fon3.png) no-repeat;
    padding-top: 108px;
    padding-left: 417px;
    box-shadow: 0px 0px 30px  #9f9f9f inset;
}

.static h2 {
    padding-left: 341px;
    font-size: 32px;
    color: #263244;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}

.static img {
    padding-left: 490px;
    padding-top: 37px;
}

.static_ul {
    float: left;
    width: 1200px;
    margin-top: 150px;
    margin-left: 65px;
    color: #263244;
}

.static_li12 {
   float: left; 
    font-weight: 800;
    font-size: 24px;
    width: 40px;
    color: 323e4f;
    white-space: nowrap;
    padding-right: 266px;
}

.static_li13 {
   float: left; 
    font-weight: 800;
    font-size: 24px;
    width: 40px;
    color: 323e4f;
    white-space: nowrap;
    padding-right: 323px;
}

.static_li14 {
   float: left; 
    font-weight: 800;
    font-size: 24px;
    width: 40px;
    color: 323e4f;
    white-space: nowrap;
    padding-right: 307px;
}

.static_li15 {
   float: left; 
    font-weight: 800;
    font-size: 24px;
    width: 40px;
    color: 323e4f;
    white-space: nowrap;
    padding-right: 280px;
}

.static_ul2 {
    float: left;
    width: 1300px;
    height: 80px;
    margin-top: 15px;
}

.static_li2 {
    float: left;
    font-size: 13px;
    font-weight: 600;
    color: #3f495a;
    width: 203px;
    margin-right: 65px;
    text-align: center;
}

.static_li3 {
    float: left;
    font-size: 13px;
    font-weight: 600;
    color: #3f495a;
    width: 203px;
    margin-right: 108px;
    text-align: center;
}

.static_li4 {
    float: left;
    font-size: 13px;
    font-weight: 600;
    color: #3f495a;
    width: 203px;
    margin-right: 95px;
    text-align: center;
}

.static_li5 {
    float: left;
    font-size: 13px;
    font-weight: 600;
    color: #3f495a;
    width: 203px;
    margin-right: 75px;
    text-align: center;
}

.otzyvy {
    height: 594px;
    background: url(../img/fotka2.png) 910px 30% no-repeat;
                
    
}

.otzyvy h2 {
    margin-left: 882px;
    font-size: 32px;
    color: #263244;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    margin-top: 113px;
}

.otzyvy img {
    margin-left: 920px;
    margin-top:  37px;
}

.otzyvyp {
    text-align: center;
    width: 690px;
    margin-left: 600px;
    margin-top: 195px;
    line-height: 1.3;
}

.otzyvyp2 {
    margin-top: 36px;
    margin-left: 840px;
}

.checkbox {
    margin-left: 927px;
    margin-top: 52px;
}

.checkbox1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 6px solid #c96500;
    border-radius: 50%;
    margin-right: 13px;
}

.checkbox2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 6px solid #cfd2d7;
    border-radius: 50%;
    margin-right: 13px;
}

.checkbox2:hover {
    border: 6px solid #c96500;
    transform: scale(1.14);
    transition: 0.3s;
}

.checkbox3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 6px solid #cfd2d7;
    border-radius: 50%;
}

.checkbox3:hover {
    border: 6px solid #c96500;
    transform: scale(1.12);
    transition: 0.3s;
}

.contact {
    height: 810px;
    background: url(../img/geo.png) 695px 270px no-repeat, 
                url(../img/convert.png) 945px 270px no-repeat, 
                url(../img/phone.png) 1189px 270px no-repeat, 
                url(../img/fb.png) 770px 710px no-repeat,
                url(../img/tw.png) 845px 710px no-repeat,
                url(../img/mych.png) 910px 710px no-repeat,
                url(../img/pussy.png) 985px 710px no-repeat,
                url(../img/inst.png) 1060px 710px no-repeat,
                url(../img/in.png) 1135px 710px no-repeat,
                url(../img/fon4.png) no-repeat;

    box-shadow: 0px 0px 30px  #414141 inset;
    color: white;
}



.contact h2 {
    margin-left: 827px;
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    padding-top: 107px;
}

.contact img {
    padding-top: 32px;
    margin-left: 918px;
}

.contact_adress {
    font-size: 15px;
    margin-top: 32px;
    margin-left: 651px;
}

.adress_ul {
    margin-top: 86px;
    margin-left: 624px;
    float: left;
    width: 720px;
}

.adress_li {
    float: left;
    width: 159px;
    text-align: center;
    margin-right: 95px;
    line-height: 1.3;
}

.adress_li2 {
    
    float: left;
    width: 159px;
    margin-right: 110px;
}

.adress_li3 {
    float: left;
    width: 159px;
}

.contact h3 {
    margin-top: 160px;
    letter-spacing: -0.6px;
    font-size: 22px; 
    margin-left: 808px;
}

.input_name {
    margin-top: 30px;
    margin-left: 555px;
    margin-right: 30px;
    padding-left: 14px;
    padding-right: 180px;
    padding-bottom: 11px;
    padding-top: 11px;
    font-size: 15px;
    background-color: #d2d6dc;
}

.input_email {
    padding-left: 14px;
    padding-right: 180px;
    padding-bottom: 11px;
    padding-top: 11px;
    font-size: 15px;
    background-color: #d2d6dc;
}

.input_area {
    margin-left: 555px;
    margin-top: 20px;
    background-color: #d2d6dc;
    font-size: 15px;
    padding-top: 11px;
    padding-left: 11px;
    padding-right: 498px;
}

.input_submit {
    margin-left: 903px;
    margin-top: 30px;
    padding: 11px 14px 9px 14px;
    background: none;
    border: 2px solid #f9faff;
    border-radius: 5px;
    font-size: 16px;
    color: #f9faff;
    font-weight: 600;
}

.input_submit:hover {
    color: darkorange;
    transform: scale(1.14);
    box-shadow: 0px 0px 10px  #000000;
    transition: 0.4s;
}

.input_submit:active {
    color: rgb(255, 168, 62);
    transform: scale(1);
    box-shadow: 0px 0px 10px  #000000;
    transition: 0.4s;
}





.geo {
    background: url(../img/karta.png) no-repeat;
    height: 351px;
}

.geo input {
    box-shadow: 0px 0px 30px  #414141;
    padding: 11px 14px 9px 14px;
    background: white;
    font-weight: 600;
    font-size: 15px;
    margin-top: 150px;
    margin-left: 880px;
    border-radius: 1px;
    color: #344051;
}

.hidden {
    display: none;
}

.geo input:hover {
    background-color: #344051;
    color: darkorange;
    transform: scale(1.14);
    box-shadow: 0px 0px 10px  #000000;
    border: none;
    transition: 0.4s;
}

.geo input:active {
    background-color: #344051;
    color: rgb(255, 168, 62);
    transform: scale(1);
    box-shadow: 0px 0px 10px  #000000;
    border: none;
    transition: 0.4s;
}

.geo input:hover + .hidden {
    display: block;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 41.5%;
    position: absolute;
    padding: 17px 15px;
    border: 2px solid #344051;
    margin-top: 10px;
    color: #344051;
}

footer {
    height: 60px;
    background-color: #354051;
    color: white;
    text-align: center;
    }
footer h5 {
    padding-top: 25px;
    letter-spacing: -0.5px;
}






